<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <nav>
      <% if current_user %>
        <form method="post" action="/sign_out">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      <% else %>
        <a href="/sign_in">Sign in</a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
