<div style="text-align: center; margin-top: 100px">
  <%= flash[:alert] if flash %>
  <h2>Sign in</h2><br><br>
  <form action="/sign_in" method="post" id="sign_in">
    <label for="name">Name:
      <input type="text" name="name" autofocus><br>
    </label>
    <label for="password">Password:
      <input type="password" name="password" autofocus><br>
    </label>
    <input type="submit" value="Log in">
  </form>
</div>
